body {
  background-color: #f5f5f5;
}

.contenu {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.un {
  background-color: #faeee2;
  border-radius: 5px;
  padding: 25px;
  /*margin-top: 60px;*/
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  display: grid;
  grid-row: span 2 / span 2;
}

.div-1 {
  font-size: 40px;
  color: black;
}

.diff-div1 {
  color: blue;
  font-size: 40px;
}

.img-div1 {
  height: 100px;
  width: 200px;
  position: relative;
  top: 30px;
  display: flex;
  margin: auto;
}

.deux {
  background-color: #7651dc;
  border-radius: 5px;
  text-align: center;
  color: white;
  height: 400px;
  display: grid;
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.div-2 {
  font-size: 50px;
  color: white;
}

.diff-div2 {
  color: yellow;
  font-size: 50px;
}

.img-div2 {
  height: 40px;
  width: 200px;
  display: flex;
  margin: auto;
}

.trois {
  background-color: #dcd1fc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  height: 670px;
  display: grid;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
}

.div-3 {
  font-size: 30px;
  color: black;
}

.div-3-1 {
  font-size: 20px;
  color: black;
}

.img-div3 {
  height: 350px;
  width: 400px;
  display: flex;
  margin: auto;
}

.quatre {
  background-color: #ffcc69;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  top: -110px;
  text-align: center;
  display: grid;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
}

.div-4 {
  font-size: 30px;
  color: black;
}

.img-div4 {
  height: 300px;
  width: 300px;
  display: flex;
  margin: auto;
}

.cinq {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  top: -150px;
  text-align: center;
  display: grid;
  grid-row-start: 3;
}

.div-5 {
  font-size: 30px;
  color: black;
}

.img-div5 {
  height: 60px;
  width: 300px;
  display: flex;
  margin: auto;
}

.six {
  background-color: #ffcc69;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  top: -150px;
  text-align: center;
  display: grid;
  grid-row-start: 3;
}

.div-6 {
  font-size: 20px;
  color: black;
}

.img-div6 {
  height: 150px;
  width: 250px;
  display: flex;
  margin: auto;
}

.sept {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  top: -130px;
  text-align: center;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 4;
}

.div-7 {
  font-size: 20px;
  color: black;
}

.img-div7 {
  height: 100px;
  width: 250px;
  display: flex;
  margin: auto;
}

.huite {
  background-color: #7651dc;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  top: -130px;
  text-align: center;
  display: grid;
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
}

.div-8 {
  font-size: 20px;
  color: white;
  text-align: right;
}

.img-div8 {
  height: 160px;
  width: 200px;
  align-items: flex-start;
  display: flex;
  margin: auto;
}
